html {
  width: 100vw;
}

.container {
  text-align: center;
}

#my-card {
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 408px;
}

#row {
  height: 100vh;
}

.col-md-4 {
  text-align: center;
}

.form-floating {
  color: black;
}

#icon {
  position: absolute;
  top: 4px;
  right: 8px;
  flex-direction: row;
  display: none;
}

#icon i:hover {
  opacity: 1;
}

#my-card:hover #icon {
  display: flex;
}

#icon i {
  padding-left: 10px;
  opacity: 0.8;
  cursor: pointer;
}

#edit {
  position: absolute;
  bottom: 4px;
  left: 8px;
  flex-direction: row-reverse;
  align-items: center;
  display: none;
  opacity: 0.8;
  cursor: pointer;
  user-select: none;
}

#edit:hover {
  opacity: 1;
}

#my-card:hover #edit {
  display: flex;
}

.fa-angles-left {
  padding-right: 4px;
}

#c-ans {
  font-size: 12px;
}

.fa-pen-to-square {
  font-size: 19px;
}

.fa-xmark {
  color: rgb(175, 31, 31);
  font-size: 23px;
}

@media (max-width: 768px) {
  #icon {
    display: flex;
  }
  #edit {
    display: flex;
  }
}

#done {
  color: rgba(34, 207, 34, 0.859);
  display: none;
}

#info {
  color: rgb(175, 31, 31);
}